<%- include("./partials/head.ejs") %>

    <%- include("./partials/nav.ejs") %>
    <main>
        <h1>WELCOME TO THE MAIN PAGE!</h1><br>
        <h2>Quizzes that are available rigth now:</h2>
        <div class="listQuizzes">
        <% quizs.forEach((quiz) => { %>
            <div class="quizContainer">
                <div>
                    <strong><p><%= quiz.question %> </p></strong>
                    <p>A. <%= quiz.answer1 %> </p>
                    <p>B. <%= quiz.answer2 %> </p>
                    <p>C. <%= quiz.answer3 %> </p>
                    <p>D. <%= quiz.answer4 %> </p>
                </div>
               <a href="api/quizs/<%=quiz._id%>/edit"><button id= "anchorTagButton">Edit</button></a>
            </div>

         <% }) %>
        </div>
     </main>
    

<%- include("./partials/footer.ejs") %>


