<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <main>
        <h2>Complete the test to see your score:</h2><br>
        <% quizs.forEach((quiz) => { %>
            <strong><p><%= quiz.question %> </p></strong>
            <form class="testForm" id="<%= quiz._id %>" action="">
                <label for="<%= quiz.id %>" id="ans1_<%= quiz.id %>_label"><input type="radio" name="answer-form-<%=quiz._id %>" id=<%= quiz.id %> value="1"><%= quiz.answer1 %></label><br>
                <label for="<%= quiz.id %>" id="ans2_<%= quiz.id %>_label"><input type="radio" name="answer-form-<%=quiz._id %>" id=<%= quiz.id %> value="2"><%= quiz.answer2 %></label><br>
                <label for="<%= quiz.id %>" id="ans3_<%= quiz.id %>_label"><input type="radio" name="answer-form-<%=quiz._id %>" id=<%= quiz.id %> value="3"><%= quiz.answer3 %></label><br>
                <label for="<%= quiz.id %>" id="ans4_<%= quiz.id %>_label"><input type="radio" name="answer-form-<%=quiz._id %>" id=<%= quiz.id %> value="4"><%= quiz.answer4 %></label><br>
                <p hidden><%= quiz.correctAnswer %></p>
            </form>
         <% }) %>
         <div class="centeredSubmitBtn">
            <button id="submitTestBtn">Submit Test</button>
         </div>
         
         <div id="testResult">
            <div>
                <h3>Test result:</h3>
                <div>
                    <p>Right answers: <b><span id="rightAnswers">0</span></b></p>
                    <p>Wrong answers: <b><span id="wrongAnswers">0</span></b></p>
                    <p>Total questions: <b><span id="totalQuestions">0</span></b></p>
                    <br>
                    <p>Your score: <b><span id="totalScore">0</span></b> / 10</p>
                    <form action="/test">
                        <button class="tryAgainBtn" type="submit">Try again</button>
                    </form>
                </div>
            </div>
         </div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
<%- include("./partials/footer.ejs") %>