<%- include("../partials/head.ejs") %>  

<%- include("../partials/nav.ejs") %>   
<main>
    <h2>Edit quiz:</h2>
    
            <form class="createForm" action="/api/quizs/<%=quiz._id%>?_method=PATCH" method="POST">
                <label for="question">Question:</label>
                <input type="text" id="question" name="question" value="<%=quiz.question%>">
                <label for="answer1">Answer</label>
                <input type="text" id="answer1" name="answer1" value="<%=quiz.answer1%>">
                <label for="answer2">Answer</label>
                <input type="text" id="answer2" name="answer2" value="<%=quiz.answer2%>">
                <label for="answer3">Answer</label>
                <input type="text" id="answer3" name="answer3" value="<%=quiz.answer3%>">
                <label for="answer4">Answer</label>
                <input type="text" id="answer4" name="answer4" value="<%=quiz.answer4%>">
                <button type="submit">Submit</button>
            </form>
            <div class="deleteSection">
                <h2>Or perhaps you want to <form id="deleteForm" action="/api/quizs/<%=quiz._id%>?_method=DELETE" method="POST">
                    <button type="submit" id= "deleteButton">Delete</button>
                </form> quiz</h2>

            </div>


</main>
<%- include("../partials/footer.ejs") %>